<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ output extension=".cs" #>
<# var properties = new string [] {"Internal", "Green", "Yellow", "Red"}; #>

namespace GOAP
{
	public enum EActionType
	{
<# foreach (string propertyName in properties) { #>
		<#= propertyName #>,
<# } #>
	}
}